<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.loginservice.dao.LoginDao">
    <select id="queryName" parameterType="string" resultType="com.jk.model.User">
    select id ,name,password from t_user WHERE name=#{name}
 </select>
    <select id="queryZhuying" resultType="com.jk.model.TeacherBean">
        select id,name as zy from t_zy
    </select>
    <select id="queryTeacher" parameterType="string" resultType="string">
        select teacherAccount from t_teacher where teacherAccount=#{value}
    </select>
    <insert id="addUser" parameterType="com.jk.model.TeacherBean">
        insert into t_teacher (teacherAccount,teacherPwd,teacherPhone,teacherName,teacherInfo,email,jieshao,companyLogo,zy,chec)
        values (#{teacherAccount},#{teacherPwd},#{teacherPhone},#{teacherName},#{teacherInfo},#{email},#{jieshao},#{companyLogo},#{zy},1)
    </insert>
    <select id="queryTeacherLogin" parameterType="com.jk.model.TeacherBean" resultType="com.jk.model.TeacherBean">
      select t.id ,t.email,t.teacherAccount,t.teacherPhone,t.teacherPwd FROM t_teacher t WHERE t.teacherAccount=#{teacherAccount}
    </select>
    <select id="queryChec" resultType="int">
        select chec from t_teacher where teacherAccount=#{value}
    </select>
<!--    <insert id="addViden" parameterType="com.jk.model.VidenBean">
        insert into t_vidon (name,uri,createTime,zy,) values(#{name},#{uri},#{createTime},#{zy})
    </insert>-->
    <select id="queryByPid" parameterType="int" resultType="com.jk.model.TreeBean">
        select * from jk_tree where pid=#{value}
    </select>
    <select id="queryTeatherById" parameterType="int" resultType="com.jk.model.TeacherBean">
        select * from t_teacher where id=#{id}
    </select>
    <update id="uploadRegtrs" parameterType="com.jk.model.TeacherBean">
       update  t_teacher set teacherAccount=#{teacherAccount},teacherPhone=#{teacherPhone},teacherInfo=#{teacherInfo},email=#{email},companyLogo=#{companyLogo},zy=#{zy}
       where id=#{id}
    </update>
    <select id="queryTeacherById" parameterType="int" resultType="string">
        select teacherPhone from t_teacher where id=#{value}
    </select>
    <update id="updatePassword">
          update  t_teacher set teacherPwd=#{password} where id=#{teacherId}
    </update>
    <insert id="addRegUser" parameterType="com.jk.model.User">
        insert into t_user (name,password) values (#{name},#{password})
    </insert>
    <select id="queryUserByName" parameterType="string" resultType="com.jk.model.User">
        select * from t_user where name=#{value}
    </select>
    <select id="queryUserTreeByPid" parameterType="int" resultType="com.jk.model.UserTree">
        select * from t_userTree where pid=#{value}
    </select>
    <select id="queryUserById"  parameterType="string" resultType="com.jk.model.User">
        select * from t_user where id=#{value}
    </select>
    <update id="updateUserById" parameterType="com.jk.model.User">
        update t_user set name=#{name},email=#{email},userPhone=#{userPhone},userInfo=#{userInfo} where id=#{id}
    </update>
    <update id="updateUserPassword">
           update t_user set password=#{password}
      </update>



    <select id="queryCount" parameterType="string" resultType="int">
        SELECT count(1) FROM t_video v where teacherId=#{teacherId}
    </select>
    <select id="queryVideoById" resultType="com.jk.model.Video">
        SELECT * from t_video v
         WHERE v.teacherId=#{teacherId}
        GROUP BY v.id   LIMIT #{start},#{limit}
    </select>
    <select id="queryInstitutionLogin" parameterType="com.jk.model.TeacherBean" resultType="com.jk.model.Institutions">
      SELECT * from t_institutions ti WHERE ti.account=#{value}
    </select>
    <select id="queryInformationByName" parameterType="string" resultType="com.jk.model.Institutions">
         SELECT * from t_institutions where account=#{value}
    </select>
   <insert id="addInformation" parameterType="com.jk.model.Institutions">
        insert into t_institutions (instName,account,password,instInfo,information,email,start,name,phone)
        values (#{instName},#{account},#{password},#{instInfo},#{information},#{email},1,#{name},#{phone})
    </insert>
    <select id="queryJgTreeByPid" parameterType="int" resultType="com.jk.model.JgTree">
        select * from t_jgTree where pid=#{value}
    </select>
    <select id="queryupdateInstitution" parameterType="string" resultType="com.jk.model.Institutions">
        select * from t_institutions where id=#{value}
    </select>
    <update id="updateInformation" parameterType="com.jk.model.Institutions" >
        update t_institutions set instName=#{instName},account=#{account},instInfo=#{instInfo},information=#{information},email=#{email},name=#{name},phone=#{phone}
        where id=#{id}
    </update>
    <update id="updateInPassword">
        update t_institutions set password=#{password} where id=#{jgId}
    </update>
    <select id="queryJgTeacherCount" parameterType="string" resultType="int">
        select count(1) from t_teacher where instId=#{teacherId}
    </select>
    <select id="queryJgTeacher" resultType="com.jk.model.TeacherBean">
        SELECT * from  t_teacher t
         WHERE t.instId=#{teacherId}
        GROUP BY t.id   LIMIT #{start},#{limit}
    </select>
    <select id="queryJgTeacherCountByTeachId" parameterType="int" resultType="int">
         SELECT * from  t_teacher t where id=#{value}
    </select>
    <select id="queryJgteacherByTeachId" resultType="com.jk.model.TeacherBean">
         SELECT * from  t_video t where teacherId=#{teacherId}
           GROUP BY t.id   LIMIT #{start},#{limit}
    </select>
    <select id="queryDingdanCount" parameterType="string" resultType="int">
        select count(1) from t_dingdan where username=#{value}
    </select>
    <select id="queryDingdan"  resultType="com.jk.model.Dingdan">
        select * from t_dingdan where username=#{userId}
         GROUP BY id   LIMIT #{start},#{limit}
    </select>
    <select id="queryPhone" parameterType="string" resultType="com.jk.model.User">
        select * from t_user where userPhone=#{phone}
    </select>
    <select id="queryMyVideoByid" parameterType="int" resultType="com.jk.model.Video">
        select * from t_video where id=#{value}
    </select>
    <insert id="addVideo" parameterType="com.jk.model.Video">
        insert into t_video (videoName,teacherId,videoTitle,videoImg,videoPrice,videoTime,videoStatus,quantity,videoinfo,forPeople,summary,videourl,kechengfenlei)
        values (#{videoName},#{teacherId},#{videoTitle},#{videoImg},#{videoPrice},#{videoTime},0,0,#{videoinfo},#{forPeople},#{summary},#{videourl},#{kechengfenlei})
    </insert>
    <update id="updateVideoById" parameterType="com.jk.model.Video">
        update t_video set videoName=#{videoName},videoTitle=#{videoTitle},videoImg=#{videoImg},videoinfo=#{videoinfo},forPeople=#{forPeople},videourl=#{videourl},kechengfenlei=#{kechengfenlei}
        where id=#{id}
    </update>
</mapper>