<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>视频播放</title>
    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/js/layui/css/layui.css">
    <script src="/js/layui/layui.js"></script>
    <script src="/ckplayer/ckplayer.js"></script>
    <script src="/ckplayer/ck.js"></script>

</head>
<body>
<!--style="width:100%;height:100%;"-->
        <div id="video" style="width: 600px;height: 300px;float: left;margin-top: 50px"  ></div>
<div style="float: left;">
    <form class="layui-form" id="commentsform">
    <input type="hidden" id="videoid" name="videoid">
    <div class="layui-form-item">
        <label class="layui-form-label">打分</label>
        <div class="layui-input-inline">
            <div id="test3"></div>
        </div>
        <div class="layui-input-inline">
            <input type="hidden" name="commentGrade" id="yin" width="30%" autocomplete="off" class="layui-input"  />
        </div>
    </div>


    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">评论内容</label>
        <div class="layui-input-block">
            <textarea name="commentContent" placeholder="请输入内容" id="commentContent"  style="width: 100px;height: 100px" class="layui-textarea"></textarea>
        </div>

    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo" type="button" onclick="addcomments()">保存</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</div>
<div style="clear: both"></div>

<hr width="100%"  style="color: #9F9F9F"/>
<div style="float: left"> <h2>评价</h2> <a href="javascript:fanye(1)" data-page="2">上一页</a>
    &nbsp<input id="yeshu" style="width: 40px;height: 30px;text-align: center" value="1">
    &nbsp;每页<select id="rows" style="width: 40px;height: 30px;" onchange="initquery()">
        <option value="5">5
        <option value="10">10
    </select>条
    <a href="javascript:fanye(2)" data-page="2">下一页</a><br>
    <span id="commentsid">
    </span>

</div>
<script  >
    function  initquery() {
        queryComments($("#yeshu").val());
    }
    var rows=null;
    function queryComments(page) {
        var videoid=[[${id}]];
        rows=$("#rows").val();
        $.ajax({
            url:"/jgy/queryComments",
            type:"post",
            data:{
                videoid:videoid,
                page:page,
                rows:rows
            },
            success:function (result) {
                bb=result.total;
                var data=result.list;
                $("#commentsid").html('');
                for (var i=0;i<data.length;i++){
                    var str='';
                    str+=' <div style="margin-left: 30px">'+ data[i].commentName+':<div id="rate'+i+'"></div><br>'+data[i].commentContent+'</div><br>';
                    $("#commentsid").append(str);
                    ratestyle(i,data[i].commentGrade);
                }

            },error:function () {

            }
        });
        function ratestyle(i,grade){
            layui.use('rate', function(){
                var rate = layui.rate;
                 rate.render({
                    elem: '#rate'+i,
                    length:5,
                    value:grade,
                    half:true,
                    readonly:true
                });
            });
        }
    }

    </script>
<script th:inline="javascript">
    function addcomments() {
        layedit.sync(content);
        $("#videoid").val([[${id}]]);
        var data=$("#commentsform").serialize();
        $.ajax({
            url:"/addComment",
            type:"post",
            data:data,
            success:function () {
                layer.msg("评论成功");
            },error:function () {
                layer.msg("网络错误，评论失败");
            }
        });
    }

    var videoObject = {
        container: '#video',//“#”代表容器的ID，“.”或“”代表容器的class
        variable: 'player',//该属性必需设置，值等于下面的new chplayer()的对象
      //  flashplayer:false,//如果强制使用flashplayer则设置成true
        allowFullScreen:true,//是否支持全屏
        //poster:"/img/1.jpg",
        video:{
            file:[[${url}]],//视频地址
            type:'video/mp4',

        },
        advertisements:'website:{"front":[{  "file": "/img/2.jpg", "type": "jpg", "link": "http://www.ckplayer.com", "time": 15  }]}'
    };

    var player=new ckplayer(videoObject);
$(function () {
    queryComments(1);
});
    var bb='';


    /*分页*/
    function fanye(type){
        var a=parseInt($("#yeshu").val());
        var b=Math.ceil(parseInt(bb)/rows);
        if(type==1) {
            if (a == 1) {
                layer.msg("已经是首页");
            } else {
                $("#yeshu").val(a-1);
                queryComments($("#yeshu").val());
            }
        }
        if (type == 2) {
            if (a == b) {
                layer.msg("已经是尾页");
            } else {
                $("#yeshu").val(a+1);
                queryComments($("#yeshu").val());
            }
        }
    }
    var layedit=null;
    var content=null;
    var layer=   layui.layer;
    layui.use(['layer','layedit','rate'], function(){
         layedit = layui.layedit;
         content= layedit.build('commentContent',{
             height:200
        });
         //建立编辑器
        var rate = layui.rate;
        //半星效果
        rate.render({
            elem: '#test3'
            ,value: 0 //初始值
            ,half: true //开启半星
            ,length: 5   //星星个数
            ,choose: function(value){
                $("#yin").val(value);
            }
        })
    });
    var layer = layui.layer;
</script>

</body>

</html>