
<!DOCTYPE html>
<html lang="en" >

<head>
<meta charset="UTF-8">
<title>登录</title>
    <script src="/js/jquery.min.js"></script>

    <link rel="stylesheet" href="/js/layui/css/layui.css">
    <script src="/js/layui/layui.js"></script>
	<link rel="stylesheet" href="/loginstyle/all.min.css">
	<link rel="stylesheet" href="/loginstyle/style.css">



	<!--图标样式-->



</head>

<body>

  <h2>登录/注册</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
       <form id="userFrom">
			<h1>注册</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>第三方账号注册</span>
			<input type="text" name="name" placeholder="名称" />
			<input type="password" name="password" placeholder="密码" />
			<button type="button" onclick="addRegUser()">注册</button>
	   </form>
	</div>
	<div class="form-container sign-in-container">
	<form>
			<h1>登录</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span><a href="/page/toteacherLogin">我要开课</a></span>
			<input type="text" name="name"  id="name" placeholder="用户名" />
			<input type="password" name="password" id="password" placeholder="密码" />
			<a href="#">快捷登录</a>
			<button onclick="login()" type="button">登录</button>
	</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>欢迎回来！</h1>
				<p>请您先登录的个人信息，进行操作。</p>
				<button class="ghost" id="signIn">登录</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>你好朋友！</h1>
				<p>输入您的个人信息注册成为会员。</p>
				<button class="ghost" type="button" id="signUp">注册</button>
			</div>
		</div>
	</div>
</div>

<footer>
	<p>
		版权声明
	</p>
</footer>




  <script src="/loginstyle/index.js"></script>



</body>
<script>
    function login() {
        var name=  $("#name").val();
		var password=  $("#password").val();
        $.ajax({
            url:"/login/queryLogin",
            type:"post",
            data:{
            	name:name,
				password:password
			},
            success:function (data) {
                if (data.code==0){
                    location.href="/page/find?url=show"
                }else {
                    layui.use('layer', function(){
                        var layer = layui.layer;

                        layer.msg(data.msg);
                    });
                }
            }
        })
    }
    function addRegUser() {
		$.ajax({
			url: '/login/addRegUser',
			type: 'post',
			data: $("#userFrom").serialize(),
			success: function (data) {
				if (data.code == 0) {
					layui.use('layer', function () {
						var layer = layui.layer;
						layer.msg(data.msg);
					});
				} else {
					layui.use('layer', function () {
						var layer = layui.layer;
						layer.msg(data.msg);
					});
				}

			}
		})

	}
</script>
</html>
