<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery.min.js"></script>
  <!--  <link rel="stylesheet" href="/js/layui/css/layui.css">
    <script src="/js/layui/layui.js"></script>
    <link rel="stylesheet" href="/js/layui/css/layui.mobile.css">
    <script src="/js/layui/lay/modules/layer.js"></script>
    <script src="/js/layui/lay/modules/laydate.js"></script>-->

    <link rel="stylesheet" href="/js/layui/css/layui.css" />
    <link rel="stylesheet" href="/js/layui/css/modules/laydate/default/laydate.css">
    <link rel="stylesheet" href="/js/layui/css/layui.css"  media="all">
    <!-- <script type="text/javascript" src="/layui/layui.js"></script>-->
    <script src="/js/layui/layui.all.js" charset="UTF-8"></script>


</head>
<body>
    <div id="default">
     <button class="layui-btn" lay-submit lay-filter="demo1" type="button" onclick="openLayer()">播放</button>
    </div>
     <table class="layui-hide" id="myTable" style="height: 600px"></table>
    </body>
<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //常规用法
        laydate.render({
            elem: '#startPlaceDate'
        });
        laydate.render({
            elem: '#endPlaceDate'
        });
    })


    var form = '';//定义全局变量
    layui.use(['form', 'laydate'], function () {
        form = layui.form,
            laydate = layui.layuidate;
        form.render();//更新渲染表单
    });
    $(function () {

        initMyTable();
    })

    //查看我的视频
    function initMyTable() {
        layui.use('table', function () {
            var table = layui.table;
            table.render({
                elem: '#myTable',
                dataType: 'json'
                , url: '/login/queryProject'
                , toolbar: 'default'
                //, cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , cols: [
                    [
                    {
                        field: 'sid', width: 80, title: '<input type="checkbox"  id="qxid" >', templet: function (row) {
                            return '<input type="checkbox" value="' + row.videourl+ '" class="chk">';
                        }
                    },
                      {field: 'videoName',  title: '视频名称'}
                    , {field: 'teacherName', title: '上传人'}
                    , {field: 'videoTime',  title: '上传日期'}
                    , {field: 'videoStatus',  title: '审核状态' ,templet: function (row) {
                        var html=''
                            if (row.videoStatus==0){
                                html='<font color="yellow"><b>未审核</b></font>'
                            }
                            if (row.videoStatus==1){
                                html='<a href="javascript:queryshenghe('+row.id+')"><font color="red">审核未通过</font></a>'
                            }
                            if (row.videoStatus==2||row.videoStatus==3){
                                html='<font color="green">审核成功</font>'
                            }
                            return html;
                        }

                        }
                    , {field: 'videoPrice',  title: '视频价格'} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                    , {field: 'videoinfo',  title: '视频简介'}
                    , {field: 'summary',  title: '视频概述'}
                    , {field: 'kechengfenlei',  title: '视频类型'}
                 ]
                ],
                id: 'id',
                skin: 'row', //表格风格
                even: true, //隔行背景
                page: true, //是否显示分页
                limits: [2, 5, 10], //显示
                limit: 2, //每页默认显示的数量
                request: {
                    page: 'page', //页码的参数名称，默认：page
                    limit: 'limit' //每页数据量的参数名，默认：limit
                }

            });
            var $ = layui.$, active = {
                reload: function () {
                    var name = $("#name").val()
                    //执行重载
                    table.reload('testReload', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            name: name

                        }
                    });
                }

            };
            $('#search').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });

    }
 function openLayer() {
     var arr = $("[class=chk]:checked");
     if (arr.length != 1) {
         layer.msg("请选择一个视频播放");
         return
     } else {
         var url = arr[0].value
         layer.open({
             type: 2,
             title: false,
             area: ['630px', '360px'],
             shade: 0.8,
             maxmin: true,
             closeBtn: 0,
             shadeClose: true,
             content:url
         });

     }

 }
 function queryshenghe(id) {
     location.href='/page/updatevideo?id='+id
 }
</script>
</html>