<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/js/layui/css/layui.css">
    <script src="/js/layui/layui.js"></script>
</head>
<body>
<form class="layui-form" id="regFrom">
<!--//<input type="hidden" name="id" id="id" >-->
  <!--  <div class="layui-form-item">
    <label class="layui-form-label">用户名</label>
    <div class="layui-input-block">
        <input type="tel" name="teacherAccount"  id="teacherAccount" lay-verify="required|name" autocomplete="off" class="layui-input">
    </div>-->
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">*修改密码</label>
        <div class="layui-input-block">
            <input type="password" id="teacherPwd" lay-verify="identity" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">*确认密码</label>
        <div class="layui-input-block">
            <input type="password" id="password" lay-verify="identity" placeholder="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="demo1" type="button" onclick="updatePassword()">立即提交</button>

        </div>
    </div>
</form>
</body>
<script>
    function updatePassword() {
     var teacherPwd =  $("#teacherPwd").val()
     var password =  $("#password").val()
        if (teacherPwd!=password) {
            layui.use('layer', function(){
                var layer = layui.layer;
                layer.msg('两次密码不一致');
            });
            return;
        }
       $.ajax({
           url:'/login/updateInPassword',
           data:{
               password:password
           },
           success:function (data) {
               if (data) {
               layui.use('layer', function(){
                   var layer = layui.layer;
                   layer.msg('密码修改成功请');
               });
               //location.href="/page/toteacherLogin"
               }else {
                   layui.use('layer', function(){
                       var layer = layui.layer;
                       layer.msg('修改失败');
                   });
               }
           }
       })
    }
</script>

</html>